/vendor/
/var/
/public_html/_assets/
/public_html/_assets_install/
/public_html/typo3/
/public_html/typo3conf/ext/
/public_html/typo3temp/
/public_html/fileadmin/
*.sql.gz
*.sql
.ddev/.homeadditions/
.ddev/.sshimageBuild/
.ddev/mutagen/
.ddev/.webimageBuild/
.ddev/db_snapshots/
.ddev/.importdb*
.ddev/xhprof/
node_modules/
config/system/settings.php
